@tailwind base;
@tailwind components;
@tailwind utilities;

.box-button-play .icon-pause {
    display: none;

}


.box-button-play.play .icon-play{
    display: none;
}
.box-button-play.play .icon-pause {
    display: block;
}